{% extends "travelwithme/base.html" %}

{% block background %}
<img id="background" class="responsive-img" src="https://images.unsplash.com/photo-1495904786722-d2b5a19a8535?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27b39bf242061eef125315e0b3ba3cfb&auto=format&fit=crop&w=2614&q=80"
  alt="sea">
{% endblock background %}

{% block content %}
{% if error %}
<h3 style="color: red">{{ error }}</h3>
{% endif %}

<div class="row" style="margin-top: 3%">
  <ul class="collapsible col s12" data-collapsible="accordion" style="background-color: #fafafa">
    {% for trip in trips %}
    <li>
      <div class="collapsible-header">
        <div class="row">

          <img src="{{trip.creator.avatar}}" alt="figure" class="responsive-img col s2 circle">

          <div class="col s10">
            <h4>Travel with {{trip.creator.user.first_name}} to {{trip.place}}</h4>
            <p>
              <b>Time:</b> {{trip.start_date}} - {{trip.end_date}} <br>
              <b>Reputation:</b> {{ trip.creator.rating }}
            </p>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="row" style="margin-bottom:0%">
          <div class="col s8">
            <p>
              <b>Nationality:</b> {{ trip.creator.nationality }} <br>
              <b>Gender:</b> {{ trip.creator.gender }} <br>
              <b>Hobby:</b> {{ trip.creator.hobbies }} <br>
            </p>
          </div>
          <div class="col s4">
            <div class="row">
              <a style="width: 100%" href="mailto:{{ trip.creator.user.email }}?Subject=Request%20from%20travelwithme"
                class="right waves-effect waves-light btn">
                Contact Via Email</a>
            </div>

            <div class="row">
              <a href="{% url 'travelwithme:send_trip_request' trip.id %}" style="width: 100%" onclick="M.toast({html: 'Request on the way!', classes: 'rounded'});"
                class="right waves-effect waves-light btn">
                Send Request</a>
            </div>
          </div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}