{% extends "travelwithme/base.html" %}
{% block content %}
<h1>Here all my trips</h1>
{% for trip in trips %}
<div class="row">
<div class="col s12 m6">
<div class="card blue-grey darken-1">
<div class="card-content white-text">
<span class="card-title">Trip to {{trip.place}}</span>
<p>I am travelling to Paris between {{trip.start_date}} and {{trip.end_date}}. Send the request!</p>
</div>
<div class="card-action">
<a href="#">Delete</a>
<a href="#">See requests</a>
</div>
</div>
</div>
</div>
{% endfor %}
{% endblock content %}
