{% extends "travelwithme/base.html" %}

{% block background %}
<img id="background" class="responsive-img" src="https://images.unsplash.com/photo-1495904786722-d2b5a19a8535?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27b39bf242061eef125315e0b3ba3cfb&auto=format&fit=crop&w=2614&q=80"
  alt="sea">
{% endblock background %}

{% block content %}
{% if error %}
<h3 style="color: red">{{ error }}</h3>
{% endif %}
{% for request in requests_to_my_trip %}
<div class="row">
<div class="col s12 m6">
<div class="card blue-grey darken-1">
<div class="card-content white-text">
<span class="card-title">Request from {{request.initiator.user.first_name}} {{request.initiator.user.last_name}}</span>
<p>Email: {{request.initiator.user.email}}</p>
<p>{{request.initiator.user.first_name}} wants to travel to {{request.trip.place}} with you</p>
<p>Request status: {{request.status}}</p>
<p>Trip status: {{request.trip.status}}</p>
</div>
<div class="card-action">
{% if request.status == "pending" %}
  <a href="{% url 'travelwithme:accept_trip_request' request.id %}">Accept</a>

{% endif %}
{% if request.trip.status != "completed" %}
<a href="{% url 'travelwithme:decline_trip_request' request.id %}">Decline</a>
{% endif %}
{% if request.trip.status == "completed" %}
<a href="{% url 'travelwithme:rate_user' request.trip.id request.initiator.user.id %}">Rate {{request.initiator.user.first_name}} {{request.initiator.user.last_name}}</a>
{% endif %}
{% if request.status == "confirmed" %}
  <!--<a href="">Terminate the trip to {{request.trip.place}}</a>-->
  {% if request.trip.status != "completed" %}
  <a href="{% url 'travelwithme:complete_trip' request.trip.id %}">Complete the trip to {{request.trip.place}}</a>
  {% endif %}
  <a href="mailto:{{request.initiator.user.email}}">Send email</a>
{% endif %}
</div>
</div>
</div>
</div>
{% endfor %}
{% endblock content %}
