{% extends "travelwithme/base.html" %}
{% block content %}
{% if error %}
    <h3 style="color: red">{{ error }}</h3>
{% endif %}
<h1>Register</h1>
<div class="row">
  <form action="{% url 'travelwithme:signup_user' %}" method="post" class="col s12">
      {% csrf_token %}
    <div class="row">
      <div class="input-field col s6">
        <input name="first_name" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input name="last_name" id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input name="birthday"  type="text" class="datepicker">
        <label for="first_name">Birthday</label>
      </div>
      <div class="input-field col s4">
        <input name="nationality" id="last_name" type="text" class="validate">
        <label for="last_name">Nationality</label>
      </div>
      <div class="input-field col s4">
    <select required name="gender">
      <option value="" disabled selected>Select your gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input name="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea name="hobbies" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Hobbies</label>
        </div>
      </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Register
   <i class="material-icons right">send</i>
 </button>
  </form>
</div>

{% endblock content %}
