{% extends "travelwithme/base.html" %}

{% block background %}
<img id="background" class="responsive-img" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32a9c4941b484a53036a8c9492638dfb&auto=format&fit=crop&w=2553&q=80"
  alt="sea">
{% endblock background %}

{% block content %}
{% if error %}
<h3 style="color: red">{{ error }}</h3>
{% endif %}
<div class="row">
  <form action="{% url 'travelwithme:signup_user' %}" method="post" class="col s12">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s6">
        <input name="first_name" id="first_name" type="text" class="validate white">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input name="last_name" id="last_name" type="text" class="validate white">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input name="birthday" type="text" class="datepicker white">
        <label for="first_name">Birthday</label>
      </div>
      <div class="input-field col s4">
        <input name="nationality" id="nationality" type="text" class="validate white">
        <label for="last_name">Nationality</label>
      </div>
      <div class="input-field col s4">
        <select required name="gender">
          <option value="" disabled selected>Select your gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input name="email" id="email" type="email" class="validate white">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input name="password" id="password" type="password" class="validate white">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea name="hobbies" id="textarea1" class="materialize-textarea white"></textarea>
        <label for="textarea1">Hobbies</label>
      </div>
    </div>
    <div class="center-align">
      <button class="btn-large waves-effect waves-light" type="submit">Register
        <i class="material-icons right">search</i>
      </button>
    </div>
  </form>
</div>

{% endblock content %}