{% extends "travelwithme/base.html" %}
{% block content %}
{% if error %}
    <h3 style="color: red">{{ error }}</h3>
{% endif %}

<h3>User info</h3>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <h3>{{traveller.user.first_name}} {{traveller.user.last_name}}</h3>
        <p>Birthday: {{traveller.birthday}}</p>
        <p>Hobbies: {{traveller.hobbies}}</p>
        <p>Rating: {{traveller.rating}}/5</p>
        <p>Gender: {{traveller.gender}}</p>
        <p>Nationality: {{traveller.nationality}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
